body{
    height: 3000px;
    margin: 0;
}
p{
    position: fixed;
    font-family: sans-serif;
    font-size: 2em;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

/*Estilos webkit para cambiar la scrollbar*/
/*Anchura de la barra*/
::-webkit-scrollbar{
    width: 15px;
}
/*Estilos barra de fondo*/
::-webkit-scrollbar-track{
    background: rgb(26, 26, 26);
    border-radius: 20px;
    padding: 30px;
}
/*Estilos botón del Scrollbar*/
::-webkit-scrollbar-thumb{
    background-color: #535353;
    border: solid rgb(26, 26, 26) 3px;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:active{
    background-color: #ff8178;
}